extends layout

block content
  h1= title
  - let Book=[{Books_price:"234",Books_category :"Romcom",Books_name:"Beach Read"},{Books_price:"876",Books_category :"Thriller",Books_name:"Gone Girl"},{Books_price:"237",Books_category :"Fantasy",Books_name:"The Way of Kings"}]
    
    div(class="container-fluid mt-3")
    div(class="row")
        each Books,index in Book
                div(class="col-sm-3 bg-info m-2 p-4" onclick=`buy(${index})`) #{Books.Books_price} - #{Books.Books_category } - #{Books.Books_name}


    script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }